section.section-before-after
    .__block-right
        .__block-inner
            .__screen
                .__screen-title Результат ДО и ПОСЛЕ
                img(src='img/section-before-after/before-after.png')
            .__screen-text
                | Раздел “до-после” наглядно показывает, каких результатов поможет добиться процедура.
    .__block-left
        .__screen-bottom-text
                | Также в каждой карточке есть возможность записаться на процедуру и увидеть, какие акции на нее действуют.
        .__screen-bottom
            img(src='img/section-before-after/sign-up.png')
    .container
        .section-before-after__text
            | Для сайтов услуг огромную роль в формировании доверия играет личное обращение и представление сотрудников компании. Поэтому профессиональная фотосессия - совсем не лишнее для создания контента раздела Команда, особенно когда в компании чисто женский коллектив.