.section-before-after
    .__block
        .__block-top
            .__screen
                .__screen-title Результат ДО и ПОСЛЕ
                img(src='img/section-before-after/before-after.png')
            .__screen-text
                | Раздел “до-после” наглядно показывает, каких результатов поможет добиться процедура.
        //.__block-bottom
        //    .__sreen-bottom
        //        img(src='img/section-before-after/sign-up.png')
