.wrap-euromedica {
  & .section-before-after {
    margin-top: 174px;
    position: relative;

    @include xl-block {
      margin-top: 144px;
    }

    @include xs-block {
      margin-top: 40px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../img/section-service/circles.svg") center no-repeat;
      background-size: contain;
      width: 414px;
      height: 506px;

      @include xl-block {
        width: 300px;
        height: 450px;
        bottom: 45px;
      }

      @include xs-block {
        content: none;
      }
    }
    &__block {
      &-right {
        position: relative;
        max-width: 1515px;
        background: #ffebee;
        width: 100%;
        height: 992px;
        margin-left: auto;
        margin-bottom: 370px;

        @include xs-block {
          height: auto;
          margin-bottom: 40px;
        }

        &:before {
          content: "";
          position: absolute;
          right: 0;
          bottom: -170px;
          width: 441px;
          height: 942px;
          background: url("../img/section-before-after/girl.png") no-repeat
            center;
          background-size: contain;
          @include lg-block {
            width: 320px;
            height: 700px;
            bottom: -70px;
          }

          @include xs-block {
            content: none;
          }
        }
      }

      &-inner {
        display: flex;
        align-items: flex-start;

        @include xs-block {
          flex-direction: column;
        }
      }

      &-left {
        top: 600px;
        position: absolute;
        max-width: 1600px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        @include xl-block {
          top: 650px;
        }

        @include xs-block {
          top: 0;
          position: relative;
          flex-direction: column;
        }
      }

      &-bottom {
        max-width: 1600px;
        width: 100%;
        margin-right: auto;
      }
    }

    &__screen {
      position: relative;
      top: -85px;
      left: -70px;
      width: 843px;
      height: 623px;
      padding-top: 30px;
      padding-left: 70px;
      background: #fff;
      box-shadow: 28px 28px 30px rgba(0, 0, 0, 0.06);
      box-sizing: border-box;

      @include xl-block {
        padding-left: 0;
        left: 0;
        height: auto;
        font-size: 0;
      }

      @include xs-block {
        top: 0;
        width: 100%;
        height: auto;
      }

      &-title {
        font-family: "PT Sans";
        font-size: 32px;
        line-height: 1;
        color: #2e3071;
        padding-left: 50px;
        margin-bottom: 23px;

        @include xs-block {
          font-size: 26px;
          padding-left: 20px;
        }
      }

      & img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 774px;
        width: 100%;
        max-height: 100%;
        @include xl-block {
          position: relative;
          max-width: 100%;
        }
      }

      &-text {
        position: relative;
        left: -85px;
        max-width: 455px;
        margin-top: 100px;
        font-size: 18px;
        line-height: 32px;
        color: #333333;
        padding: 0 45px 18px;
        box-sizing: border-box;

        @include xl-block {
          left: -15px;
          padding-right: 0;
        }

        @include xs-block {
          max-width: 100%;
          left: 0;
          margin-top: 30px;
          padding-left: 15px;
          padding-right: 15px;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: auto;
          margin: auto;
          height: 2px;
          width: 100%;
          background: #ff0289;
        }
      }
    }

    &__screen-bottom {
      width: 840px;
      display: flex;
      @include xs-block {
        width: 100%;
      }

      & img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 12px 18px 32px rgba(0, 0, 0, 0.05);
      }

      &-text {
        position: relative;
        right: -15px;
        max-width: 455px;
        margin-top: 90px;
        font-size: 18px;
        line-height: 32px;
        color: #333333;
        padding: 0 60px 18px 0;
        box-sizing: border-box;

        @include xs-block {
          box-sizing: border-box;
          max-width: 100%;
          order: 1;
          margin-top: 40px;
          padding-left: 15px;
          padding-right: 15px;
          right: 0;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: auto;
          margin: auto;
          height: 2px;
          width: 100%;
          background: #ff0289;
        }
      }
    }

    &__text {
      margin-top: 64px;
      font-size: 18px;
      line-height: 32px;
      color: #333333;

      @include xs-block {
        margin-top: 40px;
      }
    }
  }
}
