.wrap-euromedica {
  & .section-doctor {
    position: relative;
    margin-top: 48px;
    margin-bottom: 75px;
    &__screen {
      position: relative;
      max-width: 1170px;
      margin: auto;

      &:before {
        content: "";
        position: absolute;
        top: 235px;
        left: calc(-100% + 67px);
        width: 100%;
        height: 50px;
        border-radius: 0 5px 5px 0;
        background-color: #df0885;

        @include to(1170px) {
          content: none;
        }
      }

      & img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__lenta {
      position: absolute;
      top: 42%;
      left: 0;
      right: 0;
      bottom: auto;
      margin: auto;

      & img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: inherit;
      }
    }
  }
}
