.wrap-euromedica {
  & .section-service {
    margin-top: 80px;
    &__text {
      position: relative;
      font-size: 18px;
      line-height: 32px;
      color: #333333;
      margin-bottom: 40px;

      & p {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__block {
      position: relative;
      z-index: 0;

      &-wrap {
        padding-bottom: 311px;
        background: url("../img/section-service/girl.png") no-repeat left bottom;
      }
    }

    &__desktop {
      width: 100%;

      & img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
      }
    }

    &__phone {
      position: absolute;
      top: 40px;
      right: -280px;
      width: 432px;
      height: 587px;
      z-index: -1;
      & img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__drop-menu {
      position: absolute;
      bottom: -212px;
      right: -139px;
      width: 874px;
      height: 305px;

      & img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__markup {
      width: 100%;
      height: 935px;
      background: url("../img/section-service/markup.png") center no-repeat;
      background-size: cover;
    }
  }
}
