.section-service
    .container
        .section-service__text
            p
                | Фильтр разработан таким образом, что если посетитель еще не премудр в терминах “биоревитализация”, “интралипотерапия” или “дермотония”, он все равно сможет сориентироваться в ассортименте услуг, так как кроме зоны тела можно выбрать свой возраст и направление преображения - освежить, омолодить, удалить. Нужные услуги отфильтруются сами.
            p
                | Помимо этого, выбрать услугу по тем же параметрам, что и в фильтре, можно через меню.
    .section-service__block-wrap
        .container
            .section-service__block
                .section-service__desktop
                    img(src='img/section-service/service-desktop.png')
                .section-service__phone
                    img(src='img/section-service/phone.png')
                .section-service__drop-menu
                    img(src='img/section-service/drop-menu-screen.png')
    .container
        .section-service__text
            p
                | Посетители сайта могут познакомиться с услугами центра более детально — для каждого направления есть подробные текстово-графические страницы с информацией о процедуре, ее противопоказаниях, и о сотруднике, который может эту процедуру выполнить.
    .section-service__markup