extends layouts/default
block variables
	- var title = "Евромедика"

block content
	include ../blocks/components/section-laptop/section-laptop
	include ../blocks/components/section-wish/section-wish
	include ../blocks/components/section-service/section-service
	include ../blocks/components/section-before-after/section-before-after