section.section-laptop
    .container
        .section-laptop__text
            p(data-first-letter='и')
                | Индустрия красоты — одна из самых успешных и перспективных отраслей в наше время, но, тем не менее, найти хорошего квалифицированного специалиста довольно трудно. Центр Эстетической Медицины «Евромедика» сохраняет доверие своих клиентов уже более 9 лет и предоставляет качественные услуги в области косметологии.
            p
                | В Let’s Rock разработали сайт, помогающий разобраться в огромном выборе медицинских процедур, и возможностью записаться к любимому специалисту онлайн.
            p
                | Центрам косметологии не чужды современные тенденции маркетинга и главная страница традиционно встречает пользователей акциями вида “1+1”, скидками и подарочными сертификатами.
    .section-laptop__img
        img(src='img/section-laptop/laptop.png')


