.section-footer
    .container
        .section-footer__text
            | Приглашаем на сайт Центра Евромедика, знакомиться с новинками мира красоты и здоровья!
        a(href='https://euromed22.ru' target="_blank").section-footer__link
            | https://euromed22.ru
        .section-footer__logo
            img(src='img/footer/letsrock-logo.svg')
            .section-footer__logo-year 2018
    .section-footer__decor
        img.section-footer__flower(src='img/footer/flower.png')
        img(src='img/footer/circles.png')

