section.section-wish
    .section-wish__block-wrap
        .section-wish__block
            .section-wish__inner
                .section-wish__title Желания
                .section-wish__text
                    | Клик по большому баннеру с анимированными зонами тела и лица осуществляет переход на каталог услуг, отобранных по выбранной зоне
            .section-wish__images
                .section-wish__skin
                    img(src='img/section-wish/skin.png')
                .section-wish__body
                    img(src='img/section-wish/body.png')
